:host{ 
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100svh;
    background-color: orange;
    gap: 0.75rem;
}
.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    max-width: 100%;
    grid-row: 1;
    grid-column: 2;
    border: 1px solid black;
    place-self: start stretch;
}

.Info {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    border: 1px solid black;
    place-self: center stretch;
}
header {
    display: flex;
    grid-row: 1;
    border: 1px solid black;
}

.content {
    display: grid;
    grid-template-columns: minmax(320px, 1.2fr) 1fr;
    grid-row: 2;
    gap: 0.75rem;
    align-items: start;
}

footer {
    display: flex;
    grid-row: 3;
    border: 1px solid black;
}