
<mat-toolbar class="auth-toolbar">
    header
</mat-toolbar>

<main class="content">
    
        
                <form class="Auth" [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
                    <mat-card class="auth-card">     
                        <h1>Войти в PM Services</h1>

                            <mat-form-field>
                                <mat-label for="e-mail">E-mail</mat-label>          
                                <input matInput id="e-mail" type="email" name="email" formControlName="email" placeholder="Email" autocomplete="email" required>     
                                @if (loginform.get('email')?.hasError('required') && loginform.get('email')?.touched) {
                                     <mat-error>Укажите e-mail</mat-error>
                                    }
                                @if (loginform.get('email')?.hasError('email') && loginform.get('email')?.touched) {
                                    <mat-error>Некорректный e-mail</mat-error>
                                    }
                            </mat-form-field>
                            
                            <mat-form-field>           
                                <mat-label for="password">Password</mat-label>
                                <input matInput id="password" type="password" name="password" formControlName="password" placeholder="Password" autocomplete="current-password" minlength="8" required>   
                                @if (loginform.get('password')?.hasError('required') && loginform.get('password')?.touched) {
                                    <mat-error>Укажите пароль</mat-error>
                                }
                                @if (loginform.get('password')?.hasError('minlength') && loginform.get('password')?.touched) {
                                    <mat-error>Пароль должен быть не меньше 8 символов</mat-error>
                                }              
                            </mat-form-field>
                             
                            
                            <button type="submit" class="auth-submit" mat-raised-button color="primary">Войти</button>

                            <div class="signup">
                                <div class="SSOGoogle"></div>
                                <div class="SSOYandex"></div>
                                <div class="SSOMicrosoft"></div>
                            </div>
                    </mat-card>
                </form>
            
                <div class="Info">
                    Info
                </div>
        
    
</main>

<footer>
    footer
</footer>

