# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# Node
node_modules/
npm-debug.log*

# Publish
wwwroot/lib/

# Angular/Node
pmservices-web/node_modules/
pmservices-web/dist/
pmservices-web/.angular/
pmservices-web/package-lock.json
